:root {
  --primary: #846de9;
  --secondary: #24eaca;
  --bg-100: #fdfdff;
  --bg-200: #fbfaff;
  --bg-300: #eee8fe;
  --text-900: #160b46;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

* {
  font-family: "Spoqa Han Sans Neo", "Noto Sans KR", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:active {
  color: inherit;
}

a:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
