* {
  font-family: "Noto Sans KR", sans-serif;
}

footer {
  background-color: #efefef;
  padding-bottom: 10rem;
  padding-right: 10rem;
  padding-left: 10rem;
}
footer > div {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}
